* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:"DM Sans", sans-serif;;
}
.header, .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.footer {
    margin-bottom: 15px;
}
.description {
    margin-top: 15px;
    width: 50%;
}
.description p {
    text-align: center; 
    font-size: 15px; 
}
.main {
    margin-top: 25px;
}
.size-selection, .settings {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.size-selection input {
    width: 50px;
    border: 1px solid black;
    padding: 3px 7px;
}
.size-selection button, .settings button {
    background-color: rgba(241, 240, 240, 0.724);
    border: 1px solid black;
    padding: 3px 7px;
    margin-left: 2px;
    cursor: pointer;
}
.size-selection button:hover, .settings button:hover {
    background-color: rgba(218, 216, 216, 0.724);
}
.settings {
    margin-top: 15px;
}
.settings button {
    padding: 4px 7px;
}

.canvas {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    flex-shrink: 0;
    width: 550px;
    height: 550px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    flex: 1;
    display: flex;
}
.square {
    flex: 1;
    border: 1px solid #dbf1ff;
    cursor: pointer;
}